section(class='overview-wrapper l-section-pd')
        .container
            .row.l-flex-row-center
                .col-sm-6
                    .overview-content
                    h2.overview-content-title Hi, I'm Mike Maliniak and I'm a Freelance Web Developer.
                    hr
                    p.overview-content-excerpt
                        | Although Predominantly specializing in Front-end Development, I am also comfortable venturing into the server-side domain. <br /><br />
                        | For the past several years, while living in Sydney, I've been fortunate enough to work within the commercial development landscape both agency and client-side. <br/><br/>	
                        | Whether flying solo or working within teams of exceptional developers &amp; designers, I play my part in solving complex problems and developing, high quality, responsive websites for some of the world's most recognisable companies.
                .col-sm-6
                    img(src="/assets/images/mike-bw.jpg" class='img-responsive img-circle overview-img' alt='Mike Maliniak - Web Developer')